@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
}


body{
    background-color: rgba(148, 148, 148, 0.938);
    color: navy;
    font-family: "Reddit Sans Condensed", sans-serif;
}

h1{
    text-align: center; 
    font-size: 50px;
    margin-top: 30px;
}

.post1{
    font-size: 30px;
    margin: 150px auto;
    margin-bottom: 0px;
    text-align: center;
    border: 3px solid navy;
    padding: 20px;
    width: 50vw;
    height: 25vw;
    background-color: rgb(204, 204, 204);
}

.paragraph{
    margin-top: 220px;
    font-size: 25px;
}

.post2{
    font-size: 30px;
    margin: 150px auto;
    margin-bottom: 0px;
    text-align: center;
    border: 3px solid navy;
    padding: 20px;
    width: 50vw;
    height: 25vw;
    background-color: rgb(204, 204, 204);
}
.post3{
    font-size: 30px;
    margin: 150px auto;
    margin-bottom: 0px;
    text-align: center;
    border: 3px solid navy;
    padding: 20px;
    width: 50vw;
    height: 25vw;
    background-color: rgb(204, 204, 204);
}
