@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

*{
    padding: 0;
}


body{
    background-color: rgb(231, 231, 231);
    color: navy;
    
}

h1{
    text-align: center; 
    font-size: 50px;
}

.post1{
    font-size: 30px;
    margin: 150px auto;
    text-align: center;
    border: 3px solid navy;
    width: 40vw;
}
