@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

<<<<<<< Updated upstream
=======
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
>>>>>>> Stashed changes


body, html, *{
    background-color: rgba(148, 148, 148, 0.938);
    color: navy;
    font-family: "Reddit Sans Condensed", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center; 
    font-size: 50px;
    margin-top: 30px;
}

.post1{
    font-size: 50px;
    margin: 150px auto;
    margin-bottom: 0px;
    text-align: center;
    border: 3px solid navy;
    padding: 20px;
    width: 50vw;
    height: 25vw;
    background-color: rgb(204, 204, 204);
}

#tvn{
    margin: 0;
    padding: 0;
}

.heading1{
    background-color: rgb(204, 204, 204);
}

.paragraph{
    margin-top: 20px;
    font-size: 25px;
    background-color: rgb(204, 204, 204);
}

.post2{
    font-size: 30px;
    margin: 150px auto;
    margin-bottom: 0px;
    text-align: center;
    border: 3px solid navy;
    padding: 20px;
    width: 50vw;
    height: 25vw;
    background-color: rgb(204, 204, 204);
}

.heading2{
    background-color: rgb(204, 204, 204);
}
.post3{
    font-size: 30px;
    margin: 150px auto;
    margin-bottom: 0px;
    text-align: center;
    border: 3px solid navy;
    padding: 20px;
    width: 50vw;
    height: 25vw;
    background-color: rgb(204, 204, 204);
}

<<<<<<< Updated upstream
.heading3{
    background-color: rgb(204, 204, 204);
=======
.heading1{
    font-size: 50px;
}

.heading2{
    font-size: 50px;
}


.heading3{
    font-size: 40px;
}



.tvngame {
    height: 10vw;
}

.tvegame{
    height: 10vw;
>>>>>>> Stashed changes
}
